.Home {
    text-align: center;
    display:grid;
    justify-content: center;
    align-items: center;
}

.loading-home{
    margin-top: 80px;
    left: 50%;
    height: 500px;
    display:grid;
    justify-content: center;
    align-items: center;
}

