.Home {
    text-align: center;
    display:grid;
    justify-content: center;
    align-items: center;
  
}

.loading-home{
 
    left: 50%;
    height: 500px;
    width: 100%;
    display:grid;
    justify-content: center;
    align-items: center;
   
}

